@import './Assets/Css/style.css';
@font-face {
  src: url('./Assets/Font/Core\ Paint\ B3\ W01\ Regular.ttf');
  font-family: 'Core Paint';
  font-weight: 400;
}

@font-face {
  src: url('./Assets/Font/arial.ttf');
  font-family: 'Arial';
  font-weight: 400;
}

@font-face {
  src: url('./Assets/Font/ARIALNB.TTF');
  font-family: 'Arial';
  font-weight: 700;
}

/* #74acb4 */

:root {
  --small-margin: 0.25rem;
}

html,
body {
  scroll-behavior: smooth;
  color: #243c4b;
}

.modal-low-zIndex {
  /* z-index: 0 !important; */
}

.custom_overlayClass {
  z-index: 999999999 !important;
}

.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-bottom {
  margin-top: 1rem;
}

.login-bottom a {
  padding-left: 1%;
}

.btn-signin {
  margin-right: 2%;
}

.btn-signup:hover {
  color: #212529 !important;
  text-decoration: none !important;
}

.btn-login {
  text-transform: uppercase;
}

.icon img {
  margin-right: 0.3rem;
}

.comment-image {
  margin-right: var(--small-margin);
}

.header-user-name {
  margin-right: var(--small-margin);
}

.post-title {
  margin-left: var(--small-margin);
}

.list-unstyled li {
  margin-right: var(--small-margin);
}

.draft-data span:first-child {
  margin-right: var(--small-margin);
}

.btn-draft {
  margin-right: var(--small-margin);
}

.content-policy-note a:first-child {
  margin-left: var(--small-margin);
}

.add-sub-events:hover {
  cursor: pointer;
}

.general-text {
  margin-top: var(--small-margin);
}

hr {
  /* border: 1px solid #ff7373 !important; */
  border: 1px solid gainsboro;
  border-radius: 50%;
}

hr:last-child {
  display: none;
}

/* ** Calender Styles ** */

.fc-toolbar .btn {
  background-color: transparent !important;
  color: #7b7b7b !important;
  border: 0 !important;
  border-bottom-color: currentcolor !important;
  border-bottom-style: none !important;
  border-bottom-width: 0px !important;
}

.fc-toolbar .btn:hover {
  background-color: transparent !important;
  color: #333 !important;
  border: 0 !important;
  border-bottom-color: currentcolor !important;
  border-bottom-style: none !important;
  border-bottom-width: 0px !important;
}

.fc-listWeek-button.btn.btn-primary.active,
.fc-dayGridMonth-button.btn.btn-primary.active {
  background-color: transparent !important;
  color: #1e1e1e !important;
  border: 0 !important;
  border-bottom-color: currentcolor !important;
  border-bottom-style: none !important;
  border-bottom-width: 0px !important;
  border-bottom: 5px solid #ffd300 !important;
  border-radius: 0px !important;
}

.fc-toolbar .btn:disabled {
  background-color: transparent !important;
  cursor: not-allowed !important;
  color: #b12626 !important;
}

.fc-toolbar .fc-center h2 {
  font-size: 16px;
  font-weight: 700;
  color: #212121;
}

.fc-view {
  border: 0 !important;
}

.list-unstyled li a,
a {
  color: inherit !important;
}

a:hover {
  text-decoration: none !important;
}

.button-upload img {
  width: 100%;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7 !important;
}

#sub-links li {
  margin-left: 1rem;
  list-style: disclosure-closed;
}

.userprofile {
  width: 31px !important;
  height: 31px !important;
}

#community-icon {
  width: 31px !important;
}

@media (min-width: 992px) {
  .post-body .ps-right {
    width: 60px;
    flex: none;
  }
  .post-body .ps-left {
    max-width: none;
  }
}

.post-detail .post-in,
.post-detail .post-title {
  font-size: 14px;
}

@media (max-width: 545px) {
  .post-body .ps-right {
    padding: 5px;
  }
  .btn.btn-vote {
    padding: 0 5px;
  }
  .btn-vote img {
    max-height: 16px;
  }
  .total__votes {
    font-size: 14px !important;
  }
  .post__profile-img img {
    max-width: 25px;
    max-height: 25px;
  }
  .post-time {
    align-items: flex-start;
  }
  .post-time .post-in {
    width: 70px;
    font-size: 12px;
  }
}

.menu__icon {
  width: 30px;
  max-height: 23px;
  cursor: pointer;
}

.sidebar__menu .close__icon {
  display: none;
}

.mc-border {
  border: none;
  padding: 10px;
}

.mc-border,
.post-wrap,
.sidebar-calender-component {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

@media (max-width: 992px) {
  .sidebar__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
  }
  .sidebar__menu.active {
    display: block;
  }
  .sidebar__menu .mc-border {
    border: none;
    border-radius: 0;
  }
  .sidebar__menu .close__icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: white;
    padding: 0 5px;
  }
}

.view-form-list a.active {
  border-bottom: 5px solid #ffd300;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.search__box {
  border: 1px solid #e5e5e5;
  border-radius: px;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  flex: 1;
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.search__box .search__input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: none;
  padding: 7px 35px 7px 10px;
}

.search__box .search__btn {
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0.49rem 0.75rem;
}

.fc-view-container {
  background: #fff;
}

input[type='checkbox'][disabled] {
  cursor: not-allowed !important;
}

/* *Network Error* */

.internet-error {
  margin-top: 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 50;
  font-size: 20px;
  padding-right: 15px;
  padding-left: 15px;
  pointer-events: none;
}

.internet-error p {
  font-size: 20px;
  line-height: 55px;
  color: #f00;
  margin: 0;
  text-align: center;
  animation: blinkingText 1.2s infinite;
  -webkit-animation: blinkingText 1.2s infinite;
  -moz-animation: blinkingText 1.2s infinite;
  -o-animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

/* *Gallery* */

.grid-container {
  padding: 0 !important;
}

.react-fb-image-grid {
  margin: auto;
}

.react-fb-image-grid * {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  /* cursor: pointer; */
}

.border {
  border: none;
  border-radius: 0;
}

.background {
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  /* background-size: contain !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important; */
}

.height-one {
  height: 100%;
  width: 100% !important;
}

.height-two {
  height: 65%;
  width: 100% !important;
}

.cover {
  background-color: #222;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.cover-text {
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 1.2em !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  text-align: center;
}

.cover-text > p {
  margin: 0;
  position: absolute;
  font-size: 1.5em !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide {
  height: 0;
  bottom: 100%;
  transition: 0.4s ease;
  overflow: hidden;
}

.border:hover .slide {
  bottom: 0;
  height: auto;
}

.border:hover .animate-text {
  top: 62%;
}

/* *Home Page* */

.logo {
  max-height: 40px;
}

.main__color {
  color: #243c4b;
}

.landing__navbar {
  box-shadow: 0px 3px 6px #00000029;
}

.landing__navbar .nav-link {
  color: #243c4b !important;
  position: relative;
  font-weight: 700;
}

.landing__navbar .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffd300;
}

.banner {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  background: transparent url('./Assets/Images/bg2.png') 0% 0% no-repeat;
  background-size: cover;
  opacity: 1;
}

.side-text {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 350px;
  border-radius: 5px;
  padding: 15px;
}

.home__header-img {
  width: 100%;
}

.side-text .title .special__word {
  color: #ffd300;
  font-size: 150px;
  line-height: 1;
}

.banner__text {
  font: 400 14px 'Roboto';
  letter-spacing: 0px;
  color: #212529;
  text-align: center;
}

.about__slider {
  width: 100%;
  padding: 50px 35px;
  text-align: center;
}

.about__slider img {
  max-height: 700px;
  width: auto !important;
}

@media (min-width: 768px) {
  .banner {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .side-text .title {
    color: #fff;
    text-align: left;
    font: 600 47px 'Roboto';
    line-height: 0;
    color: #ffffff;
    margin: 35px 0 0;
    transform: translateY(0);
  }
  .side-text .title .special__word {
    font: 700 177px 'Roboto';
    transform: translateY(-10px);
    display: inline-block;
  }
  .form__heading {
    font-size: 36px;
  }
}

.join__community-form {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  width: 100%;
  max-width: 537px;
  margin-left: auto;
  padding-bottom: 40px !important;
}

.form__heading {
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #243c4b;
}

.form__input {
  width: 100%;
  position: relative;
}

.form__input .icon {
  position: absolute;
  top: 35px;
  left: 20px;
}

.form__input input {
  padding: 7px 15px;
  width: 100%;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  margin-top: 4.5%;
}

.form-check {
  position: relative;
}

.form-check input[type='checkbox'] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.form-check .checkbox {
  position: absolute;
  left: 0;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  overflow: hidden;
}

.form-check input:checked + .checkbox {
  background-color: #212529;
  border-color: #212529;
}

.form-check .checkbox::after {
  content: '\2713';
  display: inline-block;
  font-size: 20px;
  transform: translate(1px, -7px);
  width: 100%;
  color: #fff;
}

.form-check {
  padding-left: 2rem;
}

.section__heading {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.section__heading .title,
.stage__heading {
  color: #243c4b;
  font-family: 'Core Paint', 'Roboto';
  font-size: 40px;
}

.section__heading .description {
  color: #243c4b;
  font-family: 'Arial', 'Roboto';
  font-size: 14px;
}

.side__item {
  padding: 15px 15px 0;
  position: relative;
  display: flex;
}

.side__item .icon {
  margin-right: 15px;
}

.side__item .icon,
.side__item .icon svg {
  width: 40px;
  height: 40px;
}

.side__item .text {
  flex: 1;
  padding-bottom: 15px;
}

.side__item .text .description {
  color: rgba(36, 60, 75, 0.75);
  font-size: 14px;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .side__item:last-of-type {
    margin-bottom: 0;
  }
}

.side__item .keyword {
  color: #243c4b;
  font-weight: 600;
}

.team__img {
  height: 494px;
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.tabs {
  background-color: #f5f5f5;
  justify-content: space-evenly;
}

.tab__item {
  cursor: pointer;
  padding: 15px;
  position: relative;
}

.tab__item span,
.tab__item a {
  text-decoration: none;
  color: #78b2e1;
  font: 600 24px 'Roboto';
  letter-spacing: 0px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.tab__item span.active,
.tab__item a.active {
  color: #0072ce;
}

.tab__item span.active::after,
.tab__item a.active::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffd300;
}

.content__slider {
  border-radius: 10px;
  padding: 15px 0;
}

.side__item.heading {
  padding: 5px 15px;
}

.side__item.heading .title {
  font-style: italic;
  margin-bottom: 0;
  color: #243c4b;
}

.text-custom-blue {
  color: #0072ce;
}

.card__img {
  height: 200px;
  overflow: hidden;
}

.card__img .card-img-top {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.featured__card {
  padding: 0 15px;
}

/* .featured__card:nth-child(2n) {
    transform: translateY(-25px);
} */

.slick-prev::before,
.slick-next::before {
  color: #000000 !important;
}

.contribution__item {
  text-align: center;
  font: 700 24px 'Roboto';
  background-color: #ffffff;
  color: #0072ce;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  height: 111px;
  margin: 0 auto;
  box-shadow: -2px 3px 13px 1px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}

.contribution__item .digit {
  font-size: 24px;
}

.contribution__item .title {
  font-size: 16px;
}

.contribution__item .digit,
.contribution__item .title {
  color: #243c4b;
}

/* *Font-awesome* */

.fa {
  color: #939292;
  font-size: 18px !important;
  margin-right: 0.25em;
}

.fa-arrow-up,
.fa-arrow-down {
  font-size: 24px !important;
  margin-right: 0 !important;
}

.fa-heart {
  color: #d72727;
}

.upVoted {
  color: #3fc23f;
}

.downVoted {
  color: #d72727;
}

/* *Group Header* */

.grp-members:hover {
  cursor: pointer;
}

.hasNotifications {
  position: relative;
}

.hasNotifications::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
}

/* *Tooltip* */

.tooltip {
  position: inherit !important;
  opacity: 1 !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 35em;
  background-color: #000000bf;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 0.25em;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  transition: visibility 0.5s ease-in;
  top: 50;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}

#btn-join {
  position: absolute;
  right: 0;
  bottom: 4em;
}

.community-list-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 32em;
}

/**
 * Avatar
 */

.switch-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 40px;
  height: 36px;
}

.switch-toggle input {
  position: absolute;
  opacity: 0;
}

.switch-toggle input + label {
  padding: 7px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0px;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 24px;
  margin: 5px 10px;
}

.switch-toggle input:checked + label {
  background: white;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background: #ffd300;
}

.bg-grey {
  background-color: #ccc;
}

.avatarlist {
  background-color: #f1f1f1 !important;
  padding: 5px 10px;
  border-radius: 9px;
}

.avatarlist ul {
  margin-bottom: 0px;
}

.avatarlist ul li {
  margin: 5px;
}

.avatarUpload {
  background-color: #f1f1f1 !important;
  height: 100px;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

.avatar-wrap {
  height: 90px;
  overflow-y: auto;
}

.avatarImage img {
  max-height: 100px;
  max-width: 100px;
  border: 1px solid #7b7b7b;
  border-radius: 5px;
}

.post-in {
  font-size: 12px;
}

.featured__image input[type='file'] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.user__profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  display: inline-block;
}

.user_profile img {
  width: inherit;
  height: inherit;
}

.square_user_profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  display: inline-block;
}
.square_user_profile img {
  width: inherit;
  height: inherit;
}

/* *Advertisement* */

.adver-image img {
  height: auto;
  width: 100%;
}

.adver-keyword {
  position: relative;
  color: #fff;
  bottom: 2em;
  left: 20em;
  font-weight: bold;
}

.fa-external-link {
  color: #fff;
}

/**
 * Featured Link
 * */

.feature__link-title {
  font-weight: 500;
  font-size: 18px;
}

.feature__link-details {
  margin-bottom: 10px;
}

.featured__link .description {
  font-size: 14px;
  line-height: 1.25;
  text-align: justify;
  margin-bottom: 0;
  flex: 1;
  color: #0072ce;
}

.feature__link-img {
  max-width: 100%;
  min-width: 80px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 5px;
  border-radius: 5px;
}

.featured__link .feature__link-url {
  color: #0072ce !important;
  font-size: 15px;
}

.feature__link-url .icon {
  display: inline-block;
  margin-left: 5px;
}

@media (max-width: 991px) {
  .feature__link-details {
    flex-direction: column-reverse;
  }
  .feature__link-img {
    max-width: 100%;
    max-height: 200px;
    height: auto;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .featured__link .description {
    max-height: 80px;
    overflow: hidden;
  }
}

iframe {
  height: 300px;
  width: 100%;
}

#youtube-video iframe {
  height: 450px;
  width: 100%;
}

.replyCount {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.badge {
  float: right;
}

.post-footer span:hover {
  cursor: pointer;
}

.product-image {
  max-width: 75% !important;
  padding: 0 10px;
}

.stage__img {
  max-height: 350px;
}

.feature_link span,
.feature_link label {
  cursor: pointer;
}

.logo {
  max-height: 40px;
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page__heading {
  margin-top: 25px;
  margin-bottom: 25px;
  font: 700 42px/73px Open Sans;
}

.search__input input {
  margin-top: 0 !important;
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  height: 45px;
}

.search__input label {
  margin-bottom: 0 !important;
}

.search__input .icon {
  left: auto !important;
  right: 5px !important;
  top: 13px !important;
  max-width: 20px !important;
}

.sort__by label {
  color: #212121;
  font: 500 14px/24px 'Open Sans';
}

.sort__by select {
  border: none;
  background-color: transparent;
  padding-right: 10px;
  color: #bebbbb;
  font-weight: 600;
}

.card.card__shadow {
  border-radius: 7px;
}

.card__shadow {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.card__img {
  max-height: 350px;
  overflow: hidden;
}

.card__img.card-img-top {
  height: 100%;
  filter: blur(0.1);
}

.featured__card:nth-child(2n) {
  transform: translateY(-25px);
}

.bg-light-grey {
  background-color: #f5f5f5 !important;
}

.faq__heading {
  font: 400 36px/62px 'Core Paint', 'Roboto', 'Open Sans';
}

.faq__description {
  font: 400 16px 'Open Sans';
}

.question,
.answer,
.faq__heading,
.faq__description {
  color: #243c4b;
}

.question {
  font: 600 20px 'Open Sans';
}

.answer {
  font-size: 16px;
}

.sidebar__heading {
  padding: 0;
  font-size: 18px;
}

.policies {
  padding: 0 15px 15px;
}

.policy__item {
  display: flex;
  margin-top: 15px;
}

.policy__img {
  border: 1px solid #243c4b;
  width: 50px;
  height: 38px;
  position: relative;
  border-radius: 5px;
  padding: 5px;
}

.policy__img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.is__link .policy__img::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  /* background-image: url("../Images/interface.svg"); */
  background-size: contain;
  background-repeat: no-repeat;
}

.policy__link {
  padding-left: 15px;
  display: flex;
  align-items: center;
  flex: 1;
}

.policy__link a {
  text-decoration: underline;
  font: 600 18px/27px Open Sans;
}

.edited__by,
.policy__link a {
  color: #000ecf;
}

.edited__by p {
  font-style: italic;
  font-weight: 400;
}

.stage__title {
  font-size: 46px;
  font-family: 'Core Paint', 'Roboto', 'Open Sans';
}

.stage__sub-title {
  font-size: 26px;
  font-family: 'Core Paint', 'Roboto', 'Open Sans';
}

.stage__title,
.stage__sub-title,
.stage__heading {
  color: #243c4b;
}

.stage__heading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  font: 700 30px/49px Open Sans;
}

.stage__sub-heading {
  text-align: center;
  font: 600 16px/33px Open Sans;
  position: relative;
  /* background-color: #fff; */
  padding: 15px 10px;
}

.stage__sub-heading.has-line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
  background-color: #0841ac;
  z-index: 0;
}

.shadow__bottom {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.07);
}

.shadow__top {
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.07);
}

.stage__sub-heading.has-line span {
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: whitesmoke;
  padding-left: 15px;
  padding-right: 15px;
  color: #0841ac;
}

.stages {
  border-radius: 10px;
  border: 1px solid rgba(112, 112, 112, 0.13);
  padding: 0 15px 15px;
}

.stage__item-heading {
  text-align: center;
  padding: 7px;
  font: 700 18px/36px Open Sans;
  color: #0055c1;
}

.bg-stage-1 {
  background-color: #c6d6f4;
}

.bg-stage-2 {
  background-color: #cde0fc;
}

.bg-stage-3 {
  background-color: #dee5fa;
}

.stage9 {
  /* background: #ff68ba; */
  background-color: rgb(255, 211, 0);
  border-radius: 10px;
  color: #ffffff;
  padding: 15px;
}

.stage9 .stage__name,
.stage9 .stage__description {
  color: black;
}
.stage__name {
  font-size: 14px;
  font-weight: 600;
}

.stage__description {
  font-weight: 700;
  font-size: 16px;
}

.stage__bg-blue {
  /* background-color: #0841ac; */
  /* background-color: #243c4b; */
  background-color: #74acb4;
}

.stage__bg-light-blue {
  /* background-color: #3384fd; */
  /* background-color: #243c4b; */
  background-color: #74acb4;
}

.stage__bg-lightest-blue {
  background-color: #3346fc;
}

.stage__bg-blue:hover {
  /* background-color: rgb(7, 73, 128); */
}

.stage__bg-light-blue:hover {
  /* background-color: rgba(0, 114, 206, 0.94); */
}

.stage {
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
}

.stage.stage-lg {
  height: 100%;
}

.stage .stage__name,
.stage .stage__description {
  font-size: 14px;
}

.flex-1 {
  flex: 1;
}

.flex {
  display: flex;
}

.ht-100 {
  height: 100%;
}
.text-centered-f {
  margin: auto;
}

.header__video,
.video__placeholder {
  background-color: #243c4b;
  width: 100%;
  height: 100%;
  position: relative;
}

.video__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__placeholder::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 15px), -50%);
  border: 35px solid transparent;
  border-left: 45px solid #ffffff;
}

.video__placeholder.sm::after {
  transform: translate(calc(-50% + 10px), -50%);
  border-width: 15px;
  border-left-width: 20px;
}

.article__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.29);
  border-radius: 5px;
}

.article__item .title {
  font: 500 14px 'Arial', 'Open Sans';
  color: #243c4b;
  line-height: 1;
  display: inline-block;
  margin-bottom: 0;
}

.article__item .author {
  font: 700 14px 'Arial', 'Open Sans';
  color: #7a7a7a;
  line-height: 1;
  display: inline-block;
}

.article__item .placeholder__color {
  background-color: #58cae7;
  height: 186px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  pointer-events: none;
  transform: translateY(-50%);
  color: #0072ce;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrows .arrow-left,
.arrows .arrow-right {
  font-size: 36px;
  pointer-events: all;
  cursor: pointer;
  font-weight: 900;
}

.arrows .arrow-left {
  transform: translateX(-15px);
}

.arrows .arrow-right {
  transform: translateX(15px);
}

.move-right,
.move-down {
  position: relative;
}

.move-md-right::before,
.move-sm-right::before,
.move-lg-right::before {
  display: none;
}

@media (min-width: 992px) {
  .move-lg-right::before {
    display: inline;
  }
}

@media (min-width: 768px) {
  .move-md-right::before {
    display: inline;
  }
}

@media (min-width: 545px) {
  .move-sm-right::before {
    display: inline;
  }
  .move-xs-down::after {
    display: none;
  }
}

.move-right::before,
.move-down::after {
  font-family: 'FontAwesome';
  position: absolute;
  font-size: 30px;
  color: #000ecf;
  font-weight: 900;
}

.move-right::before {
  content: '\f105';
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}

.move-down::after {
  content: '\f107';
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.bg-light-blue {
  background-color: rgba(0, 114, 206, 0.13);
}

.mt-navbar {
  margin-top: 55px;
}

.community__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}

.featured__casestudy .card-img-top {
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.group-rules-list ul li::before {
  content: '';
}

.group-rules-list ul li {
  padding-left: 5px;
}

.btn-save {
  background-color: #ffd300 !important;
  display: inline-block !important;
  width: 100% !important;
  max-width: 120px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
  text-transform: uppercase !important;
}

.btn-change {
  background-color: #f5f5f5 !important;
  padding: 4px 20px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
  text-transform: uppercase !important;
}

.btn-signup {
  border: 2px solid #2d4453 !important;
  background-color: #2d4453 !important;
  border-radius: 8px !important;
  opacity: 1 !important;
  display: inline-block !important;
  width: 100% !important;
  max-width: 110px !important;
  font-size: 14px !important;
  padding: 4px 0px !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.btn-signup:hover {
  background-color: white !important;
  color: #2d4453 !important;
}

.react-fb-image-grid .container,
.react-fb-image-grid .row {
  height: auto !important;
}

.profile-image img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #eee;
}

.button-upload {
  position: relative;
}

.button-upload img,
.button-upload label {
  max-width: 100%;
  max-height: 100px;
}

.question__item ul,
.question__item ol {
  padding-left: 26px;
}

.form-logo img {
  max-height: 100px;
  max-width: 290px;
  width: 100%;
}

.footer {
  background-color: #07293e;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer .heading {
  color: #9da7ad;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 3px;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list li {
  margin-top: 10px;
}

.footer .footer__link {
  color: #eee !important;
  font-size: 14px;
}

.post__icon {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.post__icon path {
  fill: #243c4b;
}

.product__arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.product__arrows .arrow {
  cursor: pointer;
  color: #7c7c7c;
  font-size: 24px;
  z-index: 3;
  position: absolute;
}

.product__arrows .arrow__left {
  left: -35px;
  top: 30px;
}

.product__arrows .arrow__right {
  right: -35px;
  left: calc(100% + 5px) !important;
}

.product__arrows .arrow {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.mc-right-wrap > div.mc-border:last-of-type,
.top__sticky-sidebar,
.sticky-sidebar {
  position: sticky;
  top: 80px;
}

.mc-right-wrap > div:not(:first-of-type) {
  margin-top: 20px;
}

.side__menu {
  padding: 0;
}

.side__menu li {
  margin-right: 0;
}

.sidebar--menu__item {
  padding: 0 10px 0 25px;
  display: block;
}

.sidebar--menu__item.active {
  background-color: #ffd300;
  color: #fff;
}

.mcl-data .mcl-data-text {
  padding-left: 5px;
}

.file__input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.event-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-date {
  padding-top: 0;
}

#drop-region {
  padding-bottom: 40px;
  padding-top: 40px;
  border: none;
  display: flex;
  width: 100%;
}

#drop-region,
#drop-region:hover {
  box-shadow: none;
}

#drop-region .drop-message {
  font-style: italic;
  color: #7b7b7b;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  font-family: 'Arial', 'Roboto', 'Open Sans';
}

#image-preview {
  padding: 15px;
}

#image-preview img {
  max-width: 100%;
  max-height: 250px;
}

.main-content-body .mc-left,
.main-content-body .mc-right {
  max-width: 220px;
}

.already__account {
  color: #243c4b;
  font-size: 14px;
  opacity: 0.8;
}

.already__account a {
  text-decoration: underline;
}

.btn-warning,
.btn-outline-warning:hover {
  background-color: #f1c400 !important;
}

.btn-outline-warning {
  border-color: #f1c400;
}

.work__progress {
  padding-top: 150px;
  padding-bottom: 150px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.work__progress .info .title {
  font-size: 24px;
  line-height: 30px;
}

.work__progress .info .title,
.work__progress .info .description {
  color: rgb(36, 60, 75, 0.9);
}

.confirm__age label {
  color: #243c4b;
  font-size: 14px;
  margin-top: 5px;
}

.covid__banner {
  position: sticky;
  top: 55px;
  background-color: #0072ce;
  color: #ffffff;
  z-index: 10;
}

.covid__banner .title {
  font-size: 16px;
  font-weight: 700;
}

.covid__banner .description {
  font-size: 14px;
  margin-bottom: 0;
}

#drop-region {
  position: relative;
}

.covid__banner .close__icon,
#drop-region .close__icon {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  z-index: 1;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-all {
  pointer-events: all;
}

.product__img {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.product__img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.card-text {
  font-family: 'Arial', 'Roboto';
  font-size: 16px;
}

.btn-view {
  background-color: #243c4b;
  color: #fff !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-in {
  font-style: italic;
}

.post-footer {
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 5px 10px;
  flex-wrap: wrap;
}

.post-body .ps-left {
  padding: 15px;
}

.post__body {
  display: flex;
}

.post__body .main__post {
  flex: 1;
}

.post__body .post__vote {
  /* width: 70px; */
  padding: 0 5px;
  display: flex;
}

.post-hide .icon {
  fill: #243c4b;
  margin-right: 5px;
}

.vote__btn {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 10px 15px 0;
  padding: 7px;
  border-radius: 10px;
  background-color: #ffd300;
  border: 1px solid #e7c102;
  /* min-height: 130px; */
}

.vote__btn .post__icon {
  /* width: 23px; */
  width: 17px;
  height: auto;
}

.vote__btn .text {
  color: rgba(36, 60, 75, 0.8);
  font-size: 11px;
  font-style: italic;
}

.ad__title {
  color: #777777;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Arial', 'Roboto', 'Open Sans';
}

.post-footer .lefts div {
  margin-right: 15px;
}

.post__dropdown {
  position: relative;
}

.post__dropdown button {
  background-color: transparent;
  padding: 0 0 0 10px;
  border: none;
}

.post__dropdown .dropdown__menu {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  width: 200px;
  display: none !important;
  flex-direction: column;
  background-color: #fff;
  padding: 5px 15px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.post__dropdown a {
  display: block;
}

.post__dropdown.open .dropdown__menu {
  display: flex !important;
}

.form-input2 {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  flex: 1;
  max-width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

.form-input2,
.form-input2::placeholder {
  color: rgba(36, 60, 75, 0.6);
}

.form-label {
  color: #243c4b;
  font-size: 14px;
  width: 100%;
  max-width: 115px;
  padding-right: 15px;
  margin-bottom: 0;
}

.react-datepicker-wrapper {
  flex: 1;
}

.mcl-data-image {
  width: 35px;
}

.home__page .container {
  max-width: 1100px;
}

.custom__label {
  max-width: 100px;
}

.sidebar-calender-component {
  padding: 10px;
  background: white;
}

.fc .fc-scroller-harness-liquid {
  /* height: 105%; */
  outline: 1px solid gray;
  overflow: hidden;
  /* width: 103%; */
}

.fc-dayGrid-view .fc-body .fc-row {
  min-height: 31.5px;
}

.fc-scroller {
  /* min-height: 190px; */
  overflow: auto !important;
}

.fc-head-container .fc-row {
  margin-right: 0 !important;
}

.fc-day-sun {
  background-color: wheat;
  color: black;
}
.fc-day-header {
  background-color: #212529;
  color: #fff;
  font-weight: 500;
  font-family: 'Arial', 'Roboto', 'Open Sans';
  text-align: center;
}

.fc td {
  text-align: center;
}

.fc-ltr .fc-dayGrid-view .fc-day-top {
  padding-top: 3px;
  font-weight: 600;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: none;
}

.fc-toolbar .fc-header-toolbar,
.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.fc-week tr td:first-of-type,
.fc-week tr td:last-of-type {
  background-color: #eeeeee;
}

.table-bordered thead th {
  border-bottom-width: 1px;
}

.event__info {
  color: #243c4b;
}

.event__info .title {
  text-decoration: underline solid #243c4b;
}

.event__info .title,
.search__title {
  font-size: 20px;
  font-weight: 300;
}

.event__info .rules__list {
  padding-left: 16px;
}

.event__title {
  font-size: 24px;
  font-weight: 700;
}

.event__img {
  width: 100%;
  /* max-height: 628px; */
}

.event__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.event__section {
  margin-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.event-head-text {
  font-weight: 600;
  font-size: 17px;
}

.event-param-text {
  font-size: 16px;
}

.form-check .label {
  margin-top: 4px;
}

.event-char-list .form-check {
  width: 177px;
}

.link {
  color: #0072ce;
  text-decoration: underline;
}

.everight-wrap,
.sub__event {
  background-color: #eeeeee;
  padding: 10px 15px;
  border-radius: 5px;
}

.everight-wrap:not(:first-of-type),
.sub__event:not(:first-of-type) {
  margin-top: 15px;
}

.everight-wrap .title,
.sub__event .title,
.event__list-title {
  font-size: 16px;
  font-weight: 700;
}

.everight-wrap .metadata,
.sub__event .metadata {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
}

.event-detail-data .event-head-text {
  font-weight: 400;
  font-size: 14px;
  min-width: 70px;
  display: inline-block;
}

.event-detail-data .event-param-text {
  font-weight: 700;
}

.border-2 {
  border-width: 2px;
}

.event__comments .form-group {
  margin-bottom: 0;
}

.event-wrap {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
}

.event-date div {
  color: #0072ce;
  font-size: 20px;
  font-weight: 600;
}

.event__footer {
  background-color: #fff;
}

.cl-view .icon {
  margin-right: 5px;
}

.advance__search-box {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
}

.main__search-container {
  flex: 1;
}

.btn-search-submit,
.btn-search-submit:hover {
  background-color: #243c4b;
  color: #fff;
}

.form__input-custom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form__input-custom label {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  transform: translateY(5px);
}

.search__form .form__input-custom label {
  font-size: 15px;
}

.form__input-custom .input__field {
  flex: 1;
  padding: 0 10px;
  position: relative;
}

.form__input-custom input,
.form__input-custom select {
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 0;
  padding-left: 0;
  padding-bottom: 2px;
  background-color: #fff;
  border-bottom: 1px solid #243c4b;
}

.form__input select {
  padding-bottom: 10px;
}

.form__input .icon + input {
  padding-right: 25px;
}

.form__input .icon {
  position: absolute;
  top: 8px;
  right: 8px;
  left: unset;
}

.event__list-title {
  font-size: 24px;
  font-weight: 600;
}

.featured__event:not(:first-of-type) {
  margin-top: 15px;
}

.featured__event img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.featured__event .details {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.featured__event .date {
  padding: 5px 3px;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: underline;
}

.featured__event .event__title {
  font-size: 14px;
  color: rgb(36, 60, 75, 0.8);
}

.featured__event .description {
  margin-bottom: 0;
  font-size: 14px;
}

.calender__view .fc-day-header {
  background-color: whitesmoke;
  color: #7b7b7b;
  border: none;
}

.calender__view .fc td {
  text-align: left;
}

.calender__view .fc-header-toolbar .fc-center h2 {
  font-size: 24px;
  font-weight: 400;
  font-family: Arial, 'Roboto', 'Open Sans', sans-serif;
}

.calender__view .fc-body {
  border-radius: 5px;
}

.calender__view .table-bordered thead td,
.calender__view .table-bordered thead th {
  border-width: 0;
}

.calender__view .fc-view-container {
  margin-top: 15px;
}

.calender__view .table-bordered {
  border: none;
}

.calender__view .fc-scroller.fc-day-grid-container {
  padding: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
}

.calender__view .fc-day-grid {
  border: 2px solid #84939d;
}

.calender__view .fc-event {
  background-color: #58cae7;
  border-color: #58cae7;
  color: #fff;
}

.section__heading-custom span {
  text-decoration: underline solid 2px;
}

.section__heading-custom small {
  font-style: italic;
  text-decoration: none;
  color: rgb(36, 60, 75, 0.6);
  font-size: 14px;
  margin-left: 10px;
  margin-top: 3px;
  display: inline-block;
}

.event__form-footer span:not(:first-of-type) {
  display: inline-block;
  margin-left: 10px;
}

.character__item .form-check {
  min-width: 270px;
}

.comuunity-dropdown {
  display: block;
  width: 100%;
}

.custom__time-input {
  position: relative;
}

.custom__time-input .icon {
  position: absolute;
  top: calc(50% + 2px);
  transform: translateY(-50%);
  right: 10px;
}

.custom__time-input input:focus {
  background-color: #fff;
}

.subevent__form-item {
  margin-top: 25px;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.subevent__form-item:last-of-type {
  margin-bottom: 25px;
}

.subevent__form-item textarea,
.subevent__form-item input,
.subevent__form-item select,
.subevent__form-item textarea:focus,
.subevent__form-item input:focus,
.subevent__form-item select:focus {
  background-color: #fff;
}

.close__icon .icon {
  cursor: pointer;
}

.form__textarea-input {
  align-items: flex-start;
}

.moderator--modal .modal-content,
.moderator--modal .modal-dialog {
  width: 770px;
  max-width: 100%;
}

.moderator--modal .modal-main {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
}

.moderator--modal .modal-header {
  border-bottom: none;
}

.moderator--modal .close {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 2px 8px;
}

.moderator--modal .close span {
  transform: translateY(-1px);
  display: inline-block;
}

.moderator--modal .modal-header {
  border-bottom: 1px solid #f5f5f5;
}

.moderator--modal .modal-title {
  font-size: 24px;
}

.moderator--modal .modal-title,
.moderator--modal .description,
.moderator--item .name {
  color: #212121;
}

.modal--search-box {
  position: relative;
}

.modal--search-box input {
  padding: 5px 5px 5px 40px;
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  width: 100%;
  border-radius: 5px;
}

.modal--search-box .icon {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #d9d9d9;
}

.moderators--list {
  margin-top: 15px;
}

.moderator--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moderator--item:not(:first-of-type) {
  margin-top: 10px;
}

.moderator--item .name {
  font-size: 16px;
}

.moderator--item .delete--icon {
  color: #d50000;
  cursor: pointer;
}

.form-check.disabled {
  opacity: 0.5;
}

.report--icon {
  display: flex;
  align-items: center;
}

.report--icon svg {
  width: 25px;
}

.report--icon .text {
  font-size: 14px;
  margin-left: 5px;
}

.page--header__line {
  position: relative;
  margin-top: 125px;
}

.page--header__line::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #d9d9d6;
  width: 100%;
  height: 6px;
}

.page--header__line .points,
.page--header__line .images {
  position: absolute;
  width: 100%;
  height: 23px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.page--header__line .points {
  top: -11.5px;
}

.page--header__line .images {
  top: -15px;
}

.page--header__line .point {
  position: relative;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page--header__line .point::after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.page--header__line .point.active {
  padding: 3px;
  border: 1px solid #243c4b;
}

.page--header__line .point.active::after {
  width: 15px;
  height: 15px;
}

.page--header__line .point.active::after {
  background-color: #243c4b;
}

.page--header__line .point::after {
  background-color: rgba(36, 60, 75, 0.8);
}

.page--header__line .point:nth-of-type(4)::after,
.page--header__line .point:nth-of-type(5)::after,
.page--header__line .point:nth-of-type(6)::after {
  background-color: #f3d862;
}

.page--header__line .point .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  display: inline-block;
  width: 100px;
}

.page--header__line .point.active .text {
  text-decoration: underline;
}

.page--header__line .point:nth-of-type(even) .text {
  top: calc(100% + 5px);
}

.page--header__line .point:nth-of-type(odd) .text {
  bottom: calc(100% + 5px);
}

.page--header__line .image {
  background-color: #f5f5f5;
  height: 35px;
  padding-bottom: 5px;
}

.page--header__line .image img {
  height: 100%;
}

.page--header__line .image.active {
  border-bottom: 4px solid #ffd300;
}

.stories__heading {
  font-family: 'Arial', 'Roboto', 'Open Sans';
  font-weight: bold;
  font-size: 24px;
}

.share--btn-menu {
  border-radius: 3px;
  padding: 0;
}

.share--btn-menu .dropdown-item {
  padding-left: 10px;
}

.cp-form form {
  width: 100%;
}

.profile-tabs .profile-tabs-nav li a.active {
  border-bottom: 2px solid #ffd300;
}

.modal-login {
  max-width: 650px;
}

.calender__view .fc-event-container .fc-time {
  display: none;
}

.comment__item .comment__item {
  padding-left: 25px;
}

.post-reply .text {
  display: inline-block;
  transform: translate(3px, -2px);
}

.comment__form .comment__input {
  flex: 1;
  margin-bottom: 0;
}

.comment__form .comment__btn {
  margin-left: 10px;
  padding: 8px 10px !important;
}

.flex-1 {
  flex: 1;
}

.avatar--img-option {
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
  border-radius: 5px;
}

.avatar--img-option.active {
  border: 1px solid #000000;
}

.comment--icon {
  width: 20px;
  height: 16px;
}

.post-body .ps-left {
  width: 100% !important;
}

.menu_image {
  display: inline-block;
  margin-left: 5px;
}

.ad--section .ad--title,
.ad--link {
  font-size: 14px;
}

.notification--item.done {
  opacity: 0.4;
}

.post-mnain-image .cover,
.post-mnain-image .cover-text {
  /* display: none !important; */
}

.post-mnain-image .background {
  cursor: pointer;
}

.post-mnain-image a {
  color: #0072ce !important;
}

.show__more-btn {
  border: none;
  font-size: 14px;
}

.show__more-btn:focus {
  box-shadow: none;
}

.community__description a {
  color: #0072ce !important;
}

.fc-not-start.fc-not-end,
.fc-not-start.fc-end {
  display: none;
}

.fc-start.fc-end,
.fc-start.fc-not-end {
  background-color: transparent;
  border-color: transparent;
  padding-left: 20px;
  position: relative;
}

.fc-start.fc-end::after,
.fc-start.fc-not-end::after {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  background-color: #243c4b;
  border-radius: 50%;
}

.fc-start.fc-not-end::after {
  background-color: #ffd300;
}

.language__select {
  border: none;
  background-color: #2d4453;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.sidebar--item-link,
.sidebar--item-link:hover {
  color: #000;
}

.sidebar--item-link:hover {
  text-decoration: none;
}

.sidebar--item {
  cursor: pointer;
  padding: 10px 15px 10px 15px;
}

.sidebar--item-link.active .sidebar--item,
.sidebar--item:hover,
.sidebar--item.active {
  background-color: #e6e6e6;
}

.sidebar--item .user--img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #5b5b5b;
}

.sidebar--item .user--name {
  font-size: 16px;
  margin: 0 0 0 10px;
}

.sidebar--item .last--message {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

.messages {
  background-color: transparent;
  box-shadow: none;
}

.custom--bg {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
}

.message--details {
  padding: 15px 15px 70px 15px;
  min-height: 450px;
  height: calc(100vh - 450px);
  position: relative;
}

.send--btn,
.send--btn:hover {
  background-color: transparent !important;
  padding: 0;
  margin: 0;
}

.message--input {
  /* height: 62px; */
  position: absolute;
  overflow: hidden;
  bottom: 15px;
  width: calc(100% - 30px);
  background-color: #e6e6e6;
  border-radius: 10px;
  /* display: flex; */
}

.send--btn {
  /* position: absolute; */
  /* top: 10px; */
  /* right: 5px; */
}

.send--btn svg {
  height: 25px;
}

.message--input input,
.message--input input :focus,
.message--input input :active {
  height: 100% !important;
  background-color: #e6e6e6 !important;
  border: none !important;
}

.message--item-container {
  width: 100%;
}

.message--item {
  max-width: 70%;
  width: 100%;
  min-width: 200px;
  margin-left: 0;
}

.message--item-container.received {
  justify-content: flex-end;
}

.message--item-container.received .message--item {
  flex-direction: row-reverse;
}

.message--item-container.received .message {
  text-align: right;
  margin-right: 5px;
}

.message--item-container.received .user--img {
  margin-top: 5px;
}

.message--item-container.received .time {
  margin-right: 15px;
}

.message--item .user--img {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #5b5b5b;
}

.message--item .message {
  margin-left: 10px;
  width: 275px;
  max-width: 100%;
}

.message--item .text {
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 0;
}

.message--item-container.received .message--item .text {
  background-color: #243c4b;
  color: #fff;
}

.message .time {
  display: inline-block;
  color: #000;
  margin-left: 10px;
  font-size: 12px;
}

.message--header .user--img,
.search--item .user--img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #5b5b5b;
}

.message--header .user--name,
.search--item .user--name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 5px;
}

.dots {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.dot {
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  border-radius: 50%;
  background-color: #000000;
}

.new--message {
  padding: 5px !important;
}

.search--input {
  padding: 10px;
}

.new--message,
.search--input {
  background-color: #f5f5f5;
}

/* .close__icon {
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border: 1px solid #243c4b;
} */

.search--list {
  flex-direction: column;
}

.search--item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.overflow {
  /* height: 100%; */
  height: calc(100% - 70px);
  overflow: auto;
  max-height: 100%;
  /* max-height: calc(100vh - 140px); */
}

.messages--list {
  min-height: 425px;
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.message .text {
  max-width: 35em;
}

.message-text {
  overflow: hidden;
  resize: none;
}

.message-link {
  text-decoration: underline;
  color: #8cccff !important;
}

.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

.row-flex {
  flex-direction: row;
}

.z-m {
  margin-bottom: 0;
}

.message--item-container.welcome-message {
  justify-content: center;
  color: lightgray;
}

.message--item .welcome {
  background: none;
  margin-bottom: 8px;
  display: inline-block;
  font-size: 0.8em;
}

.message--img {
  width: 150px;
}

.image--uploader--container {
  /* position: relative; */
  display: flex;
}

i.fa.image--uploader--close {
  position: absolute;
  cursor: pointer;
  /* right: -10px; */
  top: -5px;
  z-index: 10000;
}

.image--uploader--loading {
  display: flex;
  position: absolute;
  height: 100%;
  z-index: 1;
}

.centered {
  margin: auto;
}
.class--hidden {
  display: none;
}

i.fa.fa-picture-o {
  margin: auto;
  padding: 12px;
  /* font-size: 3.2em; */
}

.lg-fonts {
  font-size: 2.3em;
}

.dropdown--archive {
  border: 1px solid gray;
  box-shadow: 0px 1px 05px lightgray;
  border-radius: 8px;
  position: absolute;
  transition: 0.5s ease-in-out;
  background: white;
  cursor: pointer;
}

.dropdown--archive span {
  padding: 6px;
  display: block;
}

.dropdown--archive :hover {
  background: gray;
  color: black;
}

span.ellipsis {
  padding: 7px;
  margin: auto;
}

.mini-img {
  width: 50px;
}
i.fa.fa-ellipsis-v {
  cursor: pointer;
}

.mg--btm {
  margin-bottom: 10px;
}

.h-40 {
  height: 48px;
}

.full--width {
  width: 100%;
}

.drop-down-placeholder {
  background-color: white;
  border: 1px solid gainsboro;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  text-decoration: none;
  border-bottom: 1px solid gainsboro;
}

.drop-down-placeholder li:hover {
  background-color: gainsboro;
}

.my-node-enter {
  opacity: 0;
  margin-top: 20px;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
  margin-top: 0;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.fc-daygrid-day-events {
  cursor: pointer;
}

.skiptranslate div {
  position: absolute;
}

.featured___post_container {
  margin-top: 6rem !important;
}

.featured___post_container .header__card {
  min-height: 150px;
}

.featured___post_container .card {
  margin-bottom: 20px;
  min-height: 380px;
  max-height: 380px;
}

.featured___post_container .card-body {
  padding: 3rem;
  padding-top: 15px;
}

.featured___post_container .card__title {
  font-weight: 700;
}

.featured___post_container .card__img {
  min-height: 167px;
  overflow: hidden;
  max-height: 166px;
}

.stage__section_body_container {
  /* margin-top: 10rem !important; */
  margin-top: 65px;
  margin-bottom: 4rem !important;
}

.state__img_title__container {
  position: relative;
}

.state__img_title__container .stage__title__container {
  /* position: absolute;
    top: 48%;
    left: 4%; */

  position: absolute;
  top: 0%;
  left: 4%;
  /* height: 67%; */
  padding-top: 39%;
  overflow: hidden;
}

.stage__title__container h5,
.stage__sub-title {
  color: white !important;
  font-weight: 600;
}

.stage__prepration_Text {
  color: yellow !important;
  font-weight: 600;
  padding: 0px;
  line-height: 0px;
}

.state__img_title__container img {
  filter: brightness(0.5);
}

.recommend__block__Container {
  margin-bottom: 2rem;
}

.recommend__block__Container .sidebar-calender-component {
  background-color: #80808029 !important;
}

.products__container .sidebar-calender-component {
  background-color: #80808029 !important;
}

.flex-1 {
  flex: 1;
}

.b-1 {
  border-bottom: 3px solid #ffd300;
}

.align-left {
  text-align: left;
}

.skiptranslate div {
  position: absolute;
  right: 1px;
}

.goog-te-gadget {
  position: absolute;
  top: 1px;
  right: -70px;
}

/* .inner-google-select .skiptranslate div {
    position: absolute;
    right: -71px;
    top: 6px;
} */

@media screen and (max-width: 993px) {
  .goog-te-gadget {
    right: 10px;
  }
}
@media screen and (min-width: 990px) {
  .skiptranslate select {
    width: 130px;
  }
}

.table.achievements thead th {
  background: #243c4b;
  color: white;
  font-size: 16px;
  border-bottom: 1px solid #243c4b;
}

.table.achievements thead td {
  color: #243c4b;
  font-size: 18px;
  border-bottom: 1px solid #243c4b;
}

.table.achievements tbody td:first-child,
.table.achievements thead th:first-child {
  border-right: 1px solid #243c4b;
  border-bottom: 1px solid #243c4b;
}
.table.achievements tbody td {
  border-bottom: 1px solid #243c4b;
}

.table.achievements thead th {
  border-bottom: 1px solid #243c4b;
}

.table.achievements tbody tr:last-child > td {
  border-bottom: none;
}
.stage-link-active {
  color: black;
  background: #f5f5f5;
  border-radius: 5px;
  font-weight: bold;
}
.svg-icon svg {
  width: 24px;
  height: 22px;
  margin-right: 10px;
}

ul.stage-sidebar > li:first-child {
  color: black;
}

ul.stage-sidebar > li > a {
  color: lightgray;
}

.color-light-gray {
  color: rgb(173, 173, 173);
}

.bb-xlgray {
  border-bottom: 1px solid rgba(211, 211, 211, 0.349);
}

.text-blue {
  color: #0841ac;
}

.label-text-dark {
  color: black;
}

.btn-yellow {
  background-color: #ffd300;
  color: #243c4b;
}

.btn-yellow:hover {
  background-color: #b39500;
}

.placeholder-list-item {
  padding: 4px 12px;
}
.placeholder-list-item:hover {
  background-color: lightgray;
}

.text-dark-blue {
  color: #243c4b;
}

.text-gray {
  color: gray;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fs-16 {
  font-size: 16px;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}
.bb-3 {
  border-bottom: 3px solid #0841ac;
}

.p-2e {
  padding: 2em;
}

.br-10 {
  border-radius: 10px;
}

.bg-custom-gray {
  background-color: #f5f5f5;
}

.error {
  border: 2px solid red;
}

.text-error {
  color: red;
  margin-top: -0.8rem;
  font-size: 0.8em;
  opacity: 0.7;
}

input.error:focus {
  box-shadow: 2px 2px 5px red;
  border: 2px solid red;
}

.br-8 {
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.fb-image-grid-div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}

.fb-image-grid-overlay:hover {
  opacity: 0.5;
  transition: 0.5s ease-in;
}

.fb-image-grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  cursor: pointer;
}

.mlp-45 {
  /* margin-left: calc(45px + 1.2em); */
}

.event-dropdown {
  width: 100%;
}

.event-dropdown .dropdown .btn {
  width: 100%;
}

.stage-text-light-blue {
  /* color: #3384fd; */
  color: #0841ac;
}

.bb-stage-lblue {
  /* border-bottom: 3px solid #3384fd; */
  border-bottom: 3px solid #0841ac;
}

.capitalized {
  text-transform: capitalize;
}

.cursor-pointer {
  cursor: pointer;
}
